#game {
    font: bold 2rem Arial, sans-serif;
    text-align: center;
}

button {
    padding: 15px;
    background-color: hsl(156, 93%, 40%);
    border-radius: 10px;
    border: none;
    font: bold 1.4rem sans-serif;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: hsl(156, 93%, 55%);
}

button:active {
    background-color: hsl(156, 93%, 84%);
}

input {
    font: bold 0.8em sans-serif;
    width: 55px;
}

#diceResult {
    margin: 25px 0;
}

#diceImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

#diceImg img {
    width: 70px;
    height: auto;
    margin: 10px;
}
